body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.contain {
  width: 90%;
  margin: 0 auto;
}

.col {
  border: 2px solid black;
}

.dice-img {
  height: 100%;
  // max-width: 50%;
}

.top-bar {
  height: 10em !important;

}

.main-column {
  min-height: 40em !important;
}

.flex {
  @include flex;
}

.flex-center {
  @include flex-center;
}

.stat {
  height: 7em;
  margin-bottom: 1em;
  border: 2px solid red;
}

.bottom-left {
  height: 10em;
}

td, th {
  padding: .4em 0;
}

.combat-stats {
  .col {
    border: 2px solid orange;
    min-height: 7em !important;
    @include flex-center;
  }
}
